<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=550, minimum-scale=.55, maximum-scale=.8, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Salvo</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="Web App" name="apple-mobile-web-app-title">
  <link rel="manifest" href="./manifest.json">
  <link rel="stylesheet" href="./styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./styles/game.css">
</head>

<body>
  <div id="app" v-cloak>
    <header class="container">
      <h1 class="text-center bg-darkA text-light p-4">BATTLESHIP</h1>
      <div class="bg-darkA text-light p-2">
        <form class="form-inline " v-on:submit.prevent v-show="user =='guest'">
          <label for="email" class="mr-sm-2">Email:</label>
          <input type="email" class="form-control mr-sm-2 mb-1" id="email" placeholder="Enter email" name="email"
            required>
          <label for="pwd" class="mr-sm-2">Password:</label>
          <input type="password" class="form-control mr-sm-2 mb-1" id="pwd" placeholder="Enter password" name="pswd"
            required>
          <button type="submit" class="btn btn-primary mr-2 mb-1" v-on:click="login">Login</button>
          <button type="submit" class="btn btn-primary mr-2 mb-1" v-on:click="register">New Acount</button>
        </form>
        <div v-show="user != 'guest'"> <span>Welcome {{user.email}} <button type="button"
              class="btn btn-primary mr-sm-2" @click="logout">Logout</button></span></div>
      </div>
      <div class="infoContainer text-center">
        <h3 id="loginInfo" class="text-center collapse p-2" :class="loginBg">{{loginMsj}}</h3>
      </div>
    </header>
    <section class="container">

      <article>
        <h2 class="p-4 text-center text-light bg-darkA">Games</h2>
        <transition name="slice">
          <div class="bg-darkA text-light create text-right" v-show="user != 'guest'">
            <span class="mr-4">Create new Game
              <button type="button" class="btn btn-success m-2" @click="newGame">Create</button>
            </span>
          </div>
        </transition>
        <table class="table table-bordered table-striped table-dark" id="gamesList">
          <thead>
            <th>ID</th>
            <th>Creation Date</th>
            <th> Players</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr v-for="(game, index) in games" :key="index" v-if="game.gamePlayers[0].score == null">
              <td>{{game.id}}</td>
              <td>{{localDate(game.created)}}</td>
              <td>
                </span> <span v-for="(gamePlayer, index) in game.gamePlayers"
                  :key="index">{{gamePlayer.player.email}}| </span>
                <span v-show="game.gamePlayers.length < 2">Waiting Player</span>
              </td>

              <td class="text-center"><button v-show="showButton(game)" class="btn btn-warning"
                  @click="gameBtnEvnt(game)">{{getBtnMsj(game)}}</button></td>
            </tr>
          </tbody>
        </table>
      </article>
      <article>
        <h2 class="text-center text-light p-4 bg-darkA">Leader Board</h2>
        <table class="table table-bordered table-striped table-dark" id="leaderBoard">
          <thead class="text-center">
            <th id="bth_0">Player</th>
            <th id="bth_1">Won</th>
            <th id="bth_2">Lost</th>
            <th id="bth_3">Tied</th>
            <th id="bth_4">Total</th>
          </thead>
          <tbody>
            <tr v-for="(leader, index) in leaderBoardOrdered" :key="index">
              <td>{{leader.email}}</td>
              <td>{{leader.scores.won}}</td>
              <td>{{leader.scores.lost}}</td>
              <td>{{leader.scores.tied}}</td>
              <td>{{leader.scores.total}}</td>
            </tr>
          </tbody>
        </table>
      </article>
  </div>
  </section>




  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="./scripts/bootstrap.bundle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./scripts/games.js"></script>
</body>

</html>