body{
  background-image: url(../img/back6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
  background-size: cover;
  font-family: 'Source Code Pro', monospace;
}

.glow{
  box-shadow: 0px 0px 8px 6px greenyellow;
}

.boards{
  color: yellowgreen;
  width: 495px;
  height: 495px;
  margin: 0 auto;
  border: 1px solid greenyellow;
  border-collapse: collapse;
  
}


#salvoBoard{
  position: relative;
  z-index: 1;
}

.boards td {
	border: 1px dotted greenyellow;
	height: 44px;
	width: 44px;
  box-shadow: 0px 0px 3px 1px rgba(172, 255, 47, 0.5);
  text-align: center;
}

.text-greenlight {
color: #b5ec7f;
text-transform: uppercase;
text-shadow: 1px 2px 6px #a8bb25;
}


.bg-darkA{
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-successA{
  background-color: rgba(26, 160, 26, 0.719);
}

.infoContainer{
  min-height: 50px;
}

.grid-stack{
  min-height: 450px;
}

.grid-container{
  width: 466px;
  height: 466px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px 2px rgb(243, 243, 242);
  background-image: url(../img/radar.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-;
}

#gridBoard{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 450px;
  margin-top: 45px;
  margin-left: 45px;
}
#oppGridBoard{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 450px;
  margin-top: 45px;
  margin-left: 45px;
}

#rotate-placeholder{
  background-color: rgba(255, 0, 0, 0.6);
}

.rotateBtn{
  background-image: url(../img/rotate.png);
  background-size: 100%;
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  top:-43px;
  left: -43px;
  z-index: 100;
  border-radius: 50px;
  box-shadow: 0 0 6px 2px rgb(233, 202, 27);
}

.active{
  box-shadow: 0 0 10px 4px rgb(233, 202, 27);
  z-index: 100;
}

.placeShipCont{
  max-height: 900px;
  overflow: hidden;
  opacity: 100%;
}
.shipBoardContainer{
  width: 495px;
  height: 495px;
  margin: 0 auto;
  position: relative;
}
.grid-stack-item{
  border-radius: 20px;
}

.create{
  max-height: 100px;
  overflow: hidden;
}
.slice-enter-active, .slice-leave-active {
  /* transition: opacity .5s; */
  transition: all 1s ease;
}
.slice-enter, .slice-leave-to /* .fade-leave-active below version 2.1.8 */ {
  max-height: 0;
  opacity: 0%; 
  
}

.pop-enter-active, .pop-leave-active{
  transition:all 0.3s ease;
}

.pop-enter, .pop-leave-to{
  min-width: 0;
  min-height: 0;
  top:0;
  left:0;
}

.shot-enter-active, .shot-leave-active {
  transition: all 0.3s ease;
}
.shot-enter, .shot-leave-to /* .list-leave-active for <2.1.8 */ {
  opacity: 0;
  transform: translateY(-30px);
}

.grid-stack-item>.ui-icon-gripsmall-diagonal-se{
  display: none;
}

.modal-header{
  display: block;
  border-bottom: none;
}
/* Ships backgrounds */
.grid-stack-item-content {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  
}
#backBtn{
  cursor: pointer;
}

#fireBtn{
  border-radius: 100px;
  height: 40px;
  width: 40px;
  border: solid 1px greenyellow;
  box-shadow: 0px 0px 2px 1px yellowgreen;
}

#shots{
  height: 50px;
}

.bg-hit{
  background-image: url(../img/redhit.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.shot{
  background-image: url(../img/missile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.bg-target{
  background-image: url(../img/target.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.columnTurn {
  width: 10%;
  background-color: red;
}

.columnDamages {
  background-color: black;
  width: 90%;
}

.carrierH .grid-stack-item-content{
  background-image: url(../img/carrierhor.png);
}

.carrierV .grid-stack-item-content{
  background-image: url(../img/carrierver.png);
}

.battleshipH .grid-stack-item-content{
  background-image: url(../img/battleshiphor.png);
}

.battleshipV .grid-stack-item-content{
  background-image: url(../img/battleshipver.png);
}

.submarineH .grid-stack-item-content{
  background-image: url(../img/submarinehor.png);
}

.submarineV .grid-stack-item-content{
  background-image: url(../img/submarinever.png);
}

.destroyerH .grid-stack-item-content{
  background-image: url(../img/destroyerhor.png);
}

.destroyerV .grid-stack-item-content{
  background-image: url(../img/destroyerver.png);
}

.patrolH .grid-stack-item-content{
  background-image: url(../img/patrolboathor.png);
}

.patrolV .grid-stack-item-content {
  background-image: url(../img/patrolboatver.png);
     
}
/* oppGridBoard*/
#oppGridBoard .carrierH .grid-stack-item-content{
  background-image: url(../img/carriersunk.png);
}

#oppGridBoard .carrierV .grid-stack-item-content{
  background-image: url(../img/carriersunkV.png);
}

#oppGridBoard .battleshipH .grid-stack-item-content{
  background-image: url(../img/battleshipsunk.png);
}

#oppGridBoard .battleshipV .grid-stack-item-content{
  background-image: url(../img/battleshipsunkV.png);
}

#oppGridBoard .submarineH .grid-stack-item-content{
  background-image: url(../img/submarinesunk.png);
}

#oppGridBoard .submarineV .grid-stack-item-content{
  background-image: url(../img/submarinesunkV.png);
}

#oppGridBoard .destroyerH .grid-stack-item-content{
  background-image: url(../img/destroyersunk.png);
}

#oppGridBoard .destroyerV .grid-stack-item-content{
  background-image: url(../img/destroyersunkV.png);
}

#oppGridBoard .patrolH .grid-stack-item-content{
  background-image: url(../img/patrolboatsunk.png);
}

#oppGridBoard > .patrolV .grid-stack-item-content {
  background-image: url(../img/patrolboatsunkV.png);
     
}

.sticky {
  position: fixed;
  top: 0;
  left:2%;
  width: 96%;
  margin-top: 0 !important;
  z-index: 100;
  box-shadow: 0px 0px 8px 6px greenyellow;
  background-color: black;
}

/*v-cloak */

[v-cloak] > * { display: none; }
[v-cloak]::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 25px solid rgba(0, 0, 0, 0.40);
  border-radius: 50%;
  border-top: 25px solid #f50000;
  box-shadow: 0px 0px 8px 6px greenyellow;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}