<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=550, minimum-scale=.6, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Game View</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="Web App" name="apple-mobile-web-app-title">
  <link rel="manifest" href="./manifest.json">
  <link rel="stylesheet" href="./styles/bootstrap.css">
  <link rel="stylesheet" href="./styles/jquery-ui.css">
  <link rel="stylesheet" href="./styles/gridstack.css" />
  <link rel="stylesheet" href="./styles/gridstack-extra.css">
  <link rel="stylesheet" href="./styles/game.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="p-4 text-center text-greenlight bg-darkA m-4">Game View</h1>

  <div class="container" id="app" v-cloak>
    <header class="bg-darkA p-4 text-greenlight glow">
      <div class="row">
        <div id="gameInfo" class="col">
          <h2>Game N° {{gameID}}</h2>
          <h4>Creation day: {{getDate}}</h4>
        </div>
        <div id="backBtn" class="p-2 bg-darkA m-2 mt-3 glow text-greenlight text-center col-4" @click="backToLobby">
          <h5>Go back to Lobby</h5>
        </div>
      </div>
    </header>
    <h2 id="gameState" class="text-center text-greenlight bg-darkA p-2 mt-2 mb-2">{{translate(gameState)}}</h2>
    <h2 class="text-center text-greenlight p-2 mt-2 mb-2 sticky" v-show="fixState">{{translate(gameState)}}</h2>
    <section class="container mb-4">
      <transition name="slice">
        <div class="row m-0 glow placeShipCont" v-show="ships.length == 0">
          <div class="col-lg-7 pt-4 pb-4 bg-darkA">
            <div class="grid-container p-2">
              <div class="grid-stack grid-stack-10" id="grid">

                <div class="grid-stack-item" id="submarine"
                  :class="[shipClass('submarine'), (selectedShip.type == 'submarine')? 'active':'']" data-gs-x="5"
                  data-gs-y="6" data-gs-width="3" data-gs-height="1" data-gs-locked="true" @click="selectShip($event)">
                  <div class="grid-stack-item-content"></div>
                  <transition name="pop">
                    <div class="rotateBtn bg-dark" v-show="selectedShip.type == 'submarine'" @click="rotate()"></div>
                  </transition>
                </div>
                <div class="grid-stack-item" id="carrier"
                  :class="[shipClass('carrier'), (selectedShip.type == 'carrier')? 'active':'']" data-gs-x="4"
                  data-gs-y="0" data-gs-width="1" data-gs-height="5" data-gs-locked="true" data-gs-no-resize="true"
                  @click="selectShip($event)">
                  <div class="grid-stack-item-content "></div>
                  <transition name="pop">
                    <div class="rotateBtn bg-dark" v-show="selectedShip.type == 'carrier'" @click="rotate()"></div>
                  </transition>
                </div>
                <div class="grid-stack-item" id="patrol"
                  :class="[shipClass('patrol'), (selectedShip.type == 'patrol')? 'active':'']" data-gs-x="6"
                  data-gs-y="0" data-gs-width="1" data-gs-height="2" data-gs-locked="true" @click="selectShip($event)">
                  <div class="grid-stack-item-content "></div>
                  <transition name="pop">
                    <div class="rotateBtn bg-dark" v-show="selectedShip.type == 'patrol'" @click="rotate()"></div>
                  </transition>
                </div>
                <div class="grid-stack-item" id="destroyer"
                  :class="[shipClass('destroyer'), (selectedShip.type == 'destroyer')? 'active':'']" data-gs-x="8"
                  data-gs-y="7" data-gs-width="3" data-gs-height="1" data-gs-locked="true" @click="selectShip($event)">
                  <div class="grid-stack-item-content "></div>
                  <transition name="pop">
                    <div class="rotateBtn bg-dark" v-show="selectedShip.type == 'destroyer'" @click="rotate()"></div>
                  </transition>
                </div>
                <div class="grid-stack-item" id="battleship"
                  :class="[shipClass('battleship'), (selectedShip.type == 'battleship')? 'active':'']" data-gs-x="2"
                  data-gs-y="1" data-gs-width="1" data-gs-height="4" data-gs-locked="true" @click="selectShip($event)">
                  <div class="grid-stack-item-content"></div>
                  <transition name="pop">
                    <div class="rotateBtn bg-dark" v-show="selectedShip.type == 'battleship'" @click="rotate()"></div>
                  </transition>
                </div>
                <div class="grid-stack-item grid-stack-placeholder  rotate-placeholder" data-gs-x="7" data-gs-y="3"
                  data-gs-width="1" data-gs-height="4">
                  <div id="rotate-placeholder" class="placeholder-content"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 p-4 text-greenlight bg-darkA">
            <h2>Ship type: {{selectedShip.type}}</h2>
            <h2>Location: <span v-for="location in selectedShip.shipLocations">{{location}} </span></h2>
            <h2>Ship size: {{selectedShip.shipLocations.length}} slots</h2>
            <button class="btn btn-primary" v-on:click="postShips">Place Ships</button>
          </div>
        </div>
      </transition>
    </section>

    <transition name="slice">
      <div id="gameBoards" class="row pt-2 prueba" v-show="ships.length >0">
        <div class="col">
          <h4 class="text-center text-greenlight p-2 bg-darkA mt-2 mb-2">{{players[0].email}} (You)</h4>
          <div id="shipsLeftIcons" class="text-center p-4 bg-darkA mb-2 glow">
            <span id="carrierIcon"><img
                :src="[(isSunk('carrier',opponentHits)) ? 'img/carriersunk.png' : 'img/carrierafloat.png']"></span>
            <span id="battleshipIcon"><img
                :src="[(isSunk('battleship',opponentHits)) ? 'img/battleshipsunk.png' : 'img/battleshipfloat.png']"></span>
            <span id="submarineIcon"><img
                :src="[(isSunk('submarine',opponentHits)) ? 'img/submarinesunk.png' : 'img/submarinefloat.png']"></span>
            <span id="destroyerIcon"><img
                :src="[(isSunk('destroyer',opponentHits)) ? 'img/destroyersunk.png' : 'img/destroyerfloat.png']"></span>
            <span id="patrolboatIcon"><img
                :src="[(isSunk('patrol',opponentHits)) ? 'img/patrolboatsunk.png' : 'img/patrolboatfloat.png']"></span>
          </div>
          <div class="shipBoardContainer bg-darkA">
            <div class="grid-stack grid-stack-10 tabla" id="gridBoard">
              <div v-for="(ship, index) in set_wShips(ships)" :id="ship.id"
                :class="[(ship.height > ship.width) ? ship.id +'V': ship.id+'H']" :data-gs-x="ship.x"
                :data-gs-y="ship.y" :data-gs-width="ship.width" :data-gs-height="ship.height" :data-id="ship.id"
                class="grid-stack-item ">
                <div class="grid-stack-item-content"></div>
              </div>
            </div>
            <table class="boards" id="shipBoard">
              <tbody>
                <tr>
                  <td></td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>A</td>
                  <td id="B_A1"></td>
                  <td id="B_A2"></td>
                  <td id="B_A3"></td>
                  <td id="B_A4"></td>
                  <td id="B_A5"></td>
                  <td id="B_A6"></td>
                  <td id="B_A7"></td>
                  <td id="B_A8"></td>
                  <td id="B_A9"></td>
                  <td id="B_A10"></td>
                </tr>
                <tr>
                  <td>B</td>
                  <td id="B_B1"></td>
                  <td id="B_B2"></td>
                  <td id="B_B3"></td>
                  <td id="B_B4"></td>
                  <td id="B_B5"></td>
                  <td id="B_B6"></td>
                  <td id="B_B7"></td>
                  <td id="B_B8"></td>
                  <td id="B_B9"></td>
                  <td id="B_B10"></td>
                </tr>
                <tr>
                  <td>C</td>
                  <td id="B_C1"></td>
                  <td id="B_C2"></td>
                  <td id="B_C3"></td>
                  <td id="B_C4"></td>
                  <td id="B_C5"></td>
                  <td id="B_C6"></td>
                  <td id="B_C7"></td>
                  <td id="B_C8"></td>
                  <td id="B_C9"></td>
                  <td id="B_C10"></td>
                </tr>
                <tr>
                  <td>D</td>
                  <td id="B_D1"></td>
                  <td id="B_D2"></td>
                  <td id="B_D3"></td>
                  <td id="B_D4"></td>
                  <td id="B_D5"></td>
                  <td id="B_D6"></td>
                  <td id="B_D7"></td>
                  <td id="B_D8"></td>
                  <td id="B_D9"></td>
                  <td id="B_D10"></td>
                </tr>
                <tr>
                  <td>E</td>
                  <td id="B_E1"></td>
                  <td id="B_E2"></td>
                  <td id="B_E3"></td>
                  <td id="B_E4"></td>
                  <td id="B_E5"></td>
                  <td id="B_E6"></td>
                  <td id="B_E7"></td>
                  <td id="B_E8"></td>
                  <td id="B_E9"></td>
                  <td id="B_E10"></td>
                </tr>
                <tr>
                  <td>F</td>
                  <td id="B_F1"></td>
                  <td id="B_F2"></td>
                  <td id="B_F3"></td>
                  <td id="B_F4"></td>
                  <td id="B_F5"></td>
                  <td id="B_F6"></td>
                  <td id="B_F7"></td>
                  <td id="B_F8"></td>
                  <td id="B_F9"></td>
                  <td id="B_F10"></td>
                </tr>
                <tr>
                  <td>G</td>
                  <td id="B_G1"></td>
                  <td id="B_G2"></td>
                  <td id="B_G3"></td>
                  <td id="B_G4"></td>
                  <td id="B_G5"></td>
                  <td id="B_G6"></td>
                  <td id="B_G7"></td>
                  <td id="B_G8"></td>
                  <td id="B_G9"></td>
                  <td id="B_G10"></td>
                </tr>
                <tr>
                  <td>H</td>
                  <td id="B_H1"></td>
                  <td id="B_H2"></td>
                  <td id="B_H3"></td>
                  <td id="B_H4"></td>
                  <td id="B_H5"></td>
                  <td id="B_H6"></td>
                  <td id="B_H7"></td>
                  <td id="B_H8"></td>
                  <td id="B_H9"></td>
                  <td id="B_H10"></td>
                </tr>
                <tr>
                  <td>I</td>
                  <td id="B_I1"></td>
                  <td id="B_I2"></td>
                  <td id="B_I3"></td>
                  <td id="B_I4"></td>
                  <td id="B_I5"></td>
                  <td id="B_I6"></td>
                  <td id="B_I7"></td>
                  <td id="B_I8"></td>
                  <td id="B_I9"></td>
                  <td id="B_I10"></td>
                </tr>
                <tr>
                  <td>J</td>
                  <td id="B_J1"></td>
                  <td id="B_J2"></td>
                  <td id="B_J3"></td>
                  <td id="B_J4"></td>
                  <td id="B_J5"></td>
                  <td id="B_J6"></td>
                  <td id="B_J7"></td>
                  <td id="B_J8"></td>
                  <td id="B_J9"></td>
                  <td id="B_J10"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col">
          <section>
            <h4 class="text-center text-greenlight p-2 bg-darkA mt-2 mb-2">{{players[1].email}}</h4>
            <div id="oppShipsLeftIcons" class="text-center p-4 bg-darkA mb-2 glow">
              <span id="opcarrierIcon"><img
                  :src="[(isSunk('carrier', userHits)) ? 'img/carriersunk.png' : 'img/carrierafloat.png']"></span>
              <span id="opbattleshipIcon"><img
                  :src="[(isSunk('battleship',userHits)) ? 'img/battleshipsunk.png' : 'img/battleshipfloat.png']"></span>
              <span id="opsubmarineIcon"><img
                  :src="[(isSunk('submarine',userHits)) ? 'img/submarinesunk.png' : 'img/submarinefloat.png']"></span>
              <span id="opdestroyerIcon"><img
                  :src="[(isSunk('destroyer',userHits)) ? 'img/destroyersunk.png' : 'img/destroyerfloat.png']"></span>
              <span id="oppatrolboatIcon"><img
                  :src="[(isSunk('patrol',userHits)) ? 'img/patrolboatsunk.png' : 'img/patrolboatfloat.png']"></span>
            </div>
            <div class="shipBoardContainer bg-darkA">
              <div class="grid-stack grid-stack-10 tabla" id="oppGridBoard">
                <div v-for="(ship, index) in set_wShips(oppShips)" :id="ship.id"
                  :class="[(ship.height > ship.width) ? ship.id +'V': ship.id+'H']" :data-gs-x="ship.x"
                  :data-gs-y="ship.y" :data-gs-width="ship.width" :data-gs-height="ship.height" :data-id="ship.id"
                  class="grid-stack-item ">
                  <div class="grid-stack-item-content"></div>
                </div>
              </div>
              <table class="boards" id="salvoBoard">
                <tbody>
                  <tr>
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>A</td>
                    <td class="salvoPoint" id="S_A1"></td>
                    <td class="salvoPoint" id="S_A2"></td>
                    <td class="salvoPoint" id="S_A3"></td>
                    <td class="salvoPoint" id="S_A4"></td>
                    <td class="salvoPoint" id="S_A5"></td>
                    <td class="salvoPoint" id="S_A6"></td>
                    <td class="salvoPoint" id="S_A7"></td>
                    <td class="salvoPoint" id="S_A8"></td>
                    <td class="salvoPoint" id="S_A9"></td>
                    <td class="salvoPoint" id="S_A10"></td>
                  </tr>
                  <tr>
                    <td>B</td>
                    <td class="salvoPoint" id="S_B1"></td>
                    <td class="salvoPoint" id="S_B2"></td>
                    <td class="salvoPoint" id="S_B3"></td>
                    <td class="salvoPoint" id="S_B4"></td>
                    <td class="salvoPoint" id="S_B5"></td>
                    <td class="salvoPoint" id="S_B6"></td>
                    <td class="salvoPoint" id="S_B7"></td>
                    <td class="salvoPoint" id="S_B8"></td>
                    <td class="salvoPoint" id="S_B9"></td>
                    <td class="salvoPoint" id="S_B10"></td>
                  </tr>
                  <tr>
                    <td>C</td>
                    <td class="salvoPoint" id="S_C1"></td>
                    <td class="salvoPoint" id="S_C2"></td>
                    <td class="salvoPoint" id="S_C3"></td>
                    <td class="salvoPoint" id="S_C4"></td>
                    <td class="salvoPoint" id="S_C5"></td>
                    <td class="salvoPoint" id="S_C6"></td>
                    <td class="salvoPoint" id="S_C7"></td>
                    <td class="salvoPoint" id="S_C8"></td>
                    <td class="salvoPoint" id="S_C9"></td>
                    <td class="salvoPoint" id="S_C10"></td>
                  </tr>
                  <tr>
                    <td>D</td>
                    <td class="salvoPoint" id="S_D1"></td>
                    <td class="salvoPoint" id="S_D2"></td>
                    <td class="salvoPoint" id="S_D3"></td>
                    <td class="salvoPoint" id="S_D4"></td>
                    <td class="salvoPoint" id="S_D5"></td>
                    <td class="salvoPoint" id="S_D6"></td>
                    <td class="salvoPoint" id="S_D7"></td>
                    <td class="salvoPoint" id="S_D8"></td>
                    <td class="salvoPoint" id="S_D9"></td>
                    <td class="salvoPoint" id="S_D10"></td>
                  </tr>
                  <tr>
                    <td>E</td>
                    <td class="salvoPoint" id="S_E1"></td>
                    <td class="salvoPoint" id="S_E2"></td>
                    <td class="salvoPoint" id="S_E3"></td>
                    <td class="salvoPoint" id="S_E4"></td>
                    <td class="salvoPoint" id="S_E5"></td>
                    <td class="salvoPoint" id="S_E6"></td>
                    <td class="salvoPoint" id="S_E7"></td>
                    <td class="salvoPoint" id="S_E8"></td>
                    <td class="salvoPoint" id="S_E9"></td>
                    <td class="salvoPoint" id="S_E10"></td>
                  </tr>
                  <tr>
                    <td>F</td>
                    <td class="salvoPoint" id="S_F1"></td>
                    <td class="salvoPoint" id="S_F2"></td>
                    <td class="salvoPoint" id="S_F3"></td>
                    <td class="salvoPoint" id="S_F4"></td>
                    <td class="salvoPoint" id="S_F5"></td>
                    <td class="salvoPoint" id="S_F6"></td>
                    <td class="salvoPoint" id="S_F7"></td>
                    <td class="salvoPoint" id="S_F8"></td>
                    <td class="salvoPoint" id="S_F9"></td>
                    <td class="salvoPoint" id="S_F10"></td>
                  </tr>
                  <tr>
                    <td>G</td>
                    <td class="salvoPoint" id="S_G1"></td>
                    <td class="salvoPoint" id="S_G2"></td>
                    <td class="salvoPoint" id="S_G3"></td>
                    <td class="salvoPoint" id="S_G4"></td>
                    <td class="salvoPoint" id="S_G5"></td>
                    <td class="salvoPoint" id="S_G6"></td>
                    <td class="salvoPoint" id="S_G7"></td>
                    <td class="salvoPoint" id="S_G8"></td>
                    <td class="salvoPoint" id="S_G9"></td>
                    <td class="salvoPoint" id="S_G10"></td>
                  </tr>
                  <tr>
                    <td>H</td>
                    <td class="salvoPoint" id="S_H1"></td>
                    <td class="salvoPoint" id="S_H2"></td>
                    <td class="salvoPoint" id="S_H3"></td>
                    <td class="salvoPoint" id="S_H4"></td>
                    <td class="salvoPoint" id="S_H5"></td>
                    <td class="salvoPoint" id="S_H6"></td>
                    <td class="salvoPoint" id="S_H7"></td>
                    <td class="salvoPoint" id="S_H8"></td>
                    <td class="salvoPoint" id="S_H9"></td>
                    <td class="salvoPoint" id="S_H10"></td>
                  </tr>
                  <tr>
                    <td>I</td>
                    <td class="salvoPoint" id="S_I1"></td>
                    <td class="salvoPoint" id="S_I2"></td>
                    <td class="salvoPoint" id="S_I3"></td>
                    <td class="salvoPoint" id="S_I4"></td>
                    <td class="salvoPoint" id="S_I5"></td>
                    <td class="salvoPoint" id="S_I6"></td>
                    <td class="salvoPoint" id="S_I7"></td>
                    <td class="salvoPoint" id="S_I8"></td>
                    <td class="salvoPoint" id="S_I9"></td>
                    <td class="salvoPoint" id="S_I10"></td>
                  </tr>
                  <tr>
                    <td>J</td>
                    <td class="salvoPoint" id="S_J1"></td>
                    <td class="salvoPoint" id="S_J2"></td>
                    <td class="salvoPoint" id="S_J3"></td>
                    <td class="salvoPoint" id="S_J4"></td>
                    <td class="salvoPoint" id="S_J5"></td>
                    <td class="salvoPoint" id="S_J6"></td>
                    <td class="salvoPoint" id="S_J7"></td>
                    <td class="salvoPoint" id="S_J8"></td>
                    <td class="salvoPoint" id="S_J9"></td>
                    <td class="salvoPoint" id="S_J10"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="misileBox" class="p-2 bg-darkA m-2 mt-3 row glow">
              <div class="col">
                <table id="shots">
                  <tbody>
                    <tr>
                      <td class="text-greenlight">
                        SHOTS:
                      </td>
                      <td name="shot" is="transition-group" class="p-0">
                        <span class="shot" v-for="n in shots" :key="n + 'a'">
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-3">
                <table>
                  <tbody>
                    <td class="text-greenlight pr-2">Fire</td>
                    <td class="text-center"><button id="fireBtn" class="btn btn-danger" @click="postSalvoes"></button>
                    </td>
                  </tbody>
                </table>
              </div>
          </section>
        </div>
      </div>
    </transition>

    <transition name="slice">
      <div id="gameRecordBlock" v-show="ships.length != 0">
        <div class="row">
          <div class="col-sm-6">
            <div id="gameRecordSelf">
              <table id="gameRecordSelfTable" class="table table-striped table-dark text-greenlight">
                <col class="columnTurn">
                <col class="columnDamages">
                <thead>
                  <th class="textCenter">Turn</th>
                  <th>Damages on my fleet</th>
                </thead>
                <tbody>
                  <tr class="turnRow" v-for="turn in opponentHits">
                    <td>{{turn.turn}}</td>
                    <td><span v-for="ship in sortImpactList(turn.impacts)"> {{ship.type}}:{{ship.hits }}</span>
                      <span>Missed:{{turn.missed}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="gameRecordOpponent">
              <table id="gameRecordOppTable" class="table table-striped table-dark text-greenlight ">
                <col class="columnTurn">
                <col class="columnDamages">
                <thead>
                  <th class="textCenter">Turn</th>
                  <th>Damages on Opponent's fleet</th>
                </thead>
                <tbody>
                  <tr class="turnRow" v-for="turn in userHits">
                    <td>{{turn.turn}}</td>
                    <td><span v-for="ship in sortImpactList(turn.impacts)"> {{ship.type}}:{{ship.hits}} </span>
                      <span>Missed:{{turn.missed}}</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <div id="modalContainer" class="container">
      <div class="modal fade" id="modalMsg">
        <div class="modal-dialog modal-dialog-centered text-center">
          <div class="modal-content text-greenlight glow bg-darkA">

            <!-- Modal Header -->
            <div class="modal-header p-2 text-center" :class="modalArgs.headerClass">
              <h4 class="modal-title">{{modalArgs.headerMsj}}</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              {{modalArgs.bodyMsj}}
            </div>

            <div class="modal-footer justify-content-center" v-show="modalArgs.showBackBtn">
              <button type="button" class="btn btn-warning" @click="backToLobby">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <!-- scripts -->
  <script src="./scripts/jquery-3.4.1.js"></script>
  <script src="./scripts/jquery-ui.js"></script>
  <script src="./scripts/bootstrap.bundle.js"></script>
  <script type="text/javascript" src='./scripts/gridstack.js'></script>
  <script type="text/javascript" src='./scripts/gridstack.jQueryUI.js'></script>
  <script type="text/javascript" src='./scripts/jquery.ui.touch-punch.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./scripts/game.js"></script>
  <script src="./scripts/gameGrid.js"></script>
</body>

</html>